.select-dept {
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 2px black;
	border-style: solid;
}

.search-bar {
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 535px;
	border-radius: 2px black;
	border-style: solid;
}

.exp-btn {
	margin-left: 505px;
}

.search-icon {
	margin-left: -20px;
}